#footer
  .container.text-center
    div
      | © 2017 Jonah Back. 
      | Maintained by Kurt Lewis.
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div 
      a(href='https://github.com/kurtlewis/OrganizationManager') Updated Project Fork
      |  ·
      a(href='https://github.com/kurtlewis/OrganizationManager/issues')  Issues
